@import "bootstrap-sprockets";
@import "bootstrap";

footer {
	margin-top:45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777; 
}

footer a{
	color: #555;
}
footer a:hover {
	color:#222;
}
footer small{
	float: left;
}
footer ul{
	float: right;
	list-style: none;
}
footer ul li{
	float:left;
	margin-left:15px;
}

input,textarea,select, .uneditable-input {
	border:1px solid #bbb;
	width: 100%;
	margin-bottom : 15px;
	
}
input{
	height: auto !important;
}

body{
	padding-top: 60px;
}

#logo{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}
#logo:hover{
	color:#fff;
	text-decoration: none;
}


#error_explanation{
	color: red;
	ul{
		color:red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control{
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span{
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me{
	width: auto;
	margin-left: 0;
}
.users {
	list-style: none;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}
.microposts {
	list-style: none;
	padding: 0;
	li{
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}

	.user{
		margin-top: 5em;
		padding-top: 0;
	}
	.content{
		display: block;
		padding: 5px 0;
		img{
			display: block;
			padding: 5px 0;
		}
	}
	.timestamp{
		color: $gray-light;
		display: block;
		margin-left:60px;
	}
	.gravatar{
		float: left;
		margin-right: 10px;
		margin-top: 10px;
	}
}

aside{
	textarea{
		height: 100px;
		margin-bottom: 5px;
	}
}
span.picture{
	margin-top:10px;
	input{
		border: 0;
	}
}

.gravatar{
	float: left;
	margin-right:10px;
}
.gravatar_edit{
	margin-top: 15px;
}

.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;
	a{
		float:left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: gray;
		&:first-child{
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: blue;
		}
	}
	strong {
		display: block;
	}
}

.user_avatars{
	overflow: auto;
	margin-top: 10px;
	.gravatar{
		margin: 1px 1px;
	}
	a{
		padding: 0
	}
}
.users.follow {
	padding: 0;
}

.picture{
	color: black;
	font-size: 1.2em;
}

.comments{
	list-style: none;
	padding: 0;
	li{
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
	.user{
		margin-top: 5em;
		padding-top: 0;
	}
	.content{
		display: block;
		padding: 100px 0;
		img{
			display: block;
			padding: 5px 0;
		}
	}
	.timestamp{
		color: $gray-light;
		display: block;
		margin-left:60px;
	}
}

.jumbotron{
	padding: 0;
	background-color: white;
	:hover{
		background-color: #F2F6FA;
	}
}

.like{ font-size:66px;  color:#ccc; cursor:pointer;}
.cs{color:#f00;}

.praise-img-no{
	width: 30px ;
	height: 30px ;
	style{
	vertical-align:middle;
	}
}

.praise-img{
	width: 30px ;
	height: 30px ;
	style{
	vertical-align:middle;
	}
}

.praise span{
	display: inline-block;
}












































































