<footer class="footer">
	<small>
		The <a herf="http://www.railstutor.org/"> Ruby on Rails Tutorial</a>
		by <a herf="www.baidu.com">Li zheng</a>
	</small>
	<nav>
		<ul>
			<li> <%= link_to "About","https://github.com/robotwai/rails_demo_post"%></li>
			
		</ul>
	</nav>
</footer>